# QPM : Assignment 4

- Julien CANAC - 72814
- Elias HOSNI - 72998
- Valentin PICAVET - 73161
- Laurie SCRIBOT - 74706
- Wael SFAR - 73224

# Data S&P500

In [41]:
import yfinance as yf
import pandas as pd
import numpy as np

In [42]:
stocks_prices=pd.read_csv("stocks_prices.csv",index_col='Date',parse_dates=[0],dayfirst=False) # I load the csv file that we saved in the previous assignment
stocks_prices

,A,AAPL,ABT,ACGL,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WMT,WRB,WST,WY,XEL,XOM,XRAY,YUM,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.757748,0.847207,9.081109,1.277778,16.274670,28.706934,6.514029,25.075766,8.052906,10.858143,...,43.717697,1.238296,5.431209,11.691638,7.112461,18.668196,6.695476,4.725968,25.027779,36.146164
2000-01-04,40.415142,0.775779,8.821651,1.270833,14.909399,27.254667,6.446171,25.075766,7.660817,10.858143,...,42.081863,1.200194,5.487314,11.252416,7.276235,18.310629,6.695476,4.630976,24.666668,34.395836
2000-01-05,37.908192,0.787131,8.805430,1.388889,15.204174,27.652546,6.344390,24.834658,7.178246,11.278190,...,41.223064,1.181144,5.464871,11.848505,7.556990,19.308840,6.811223,4.654724,25.138889,34.355114
2000-01-06,36.464783,0.719014,9.113540,1.375000,15.328290,26.896572,6.378316,25.166176,6.740915,11.236182,...,41.672920,1.249726,5.408764,12.402758,7.486793,20.307060,6.820123,4.615142,23.777779,34.843582
2000-01-07,39.503517,0.753073,9.210842,1.451389,16.072987,27.652546,6.480100,25.738829,7.540174,11.404199,...,44.821899,1.230675,5.464871,11.994908,7.486793,20.247473,6.802320,4.512233,23.513889,34.925007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.183105,131.127060,106.058319,63.380001,338.450012,161.535767,93.052528,237.013672,188.160004,87.481987,...,142.136017,72.018257,234.581238,30.101591,68.689735,106.052940,31.343018,127.117882,248.220001,46.140099
2022-12-27,148.500870,129.307236,106.440659,63.619999,335.089996,159.918823,94.321167,237.102203,186.289993,88.214828,...,142.175537,72.469292,236.177505,30.082472,69.309517,107.526436,31.579344,128.104080,251.000000,46.511505
2022-12-28,147.051102,125.339409,105.715172,62.599998,328.329987,158.025833,92.069099,233.974045,181.899994,87.335411,...,139.684174,71.380928,230.700302,29.279509,68.810287,105.760185,30.506020,127.522217,246.839996,45.682983
2022-12-29,150.030075,128.889572,108.146538,63.110001,337.579987,161.673813,91.577377,236.698898,188.119995,87.951004,...,140.534393,71.812347,238.422256,29.939085,69.297813,106.560364,31.914906,128.192825,257.529999,46.740059
2022-12-30,148.821777,129.207779,107.636734,62.779999,336.529999,161.723099,91.311844,234.967575,186.869995,86.885933,...,140.178497,71.155411,234.800720,29.633196,68.361755,107.633774,31.479883,126.309235,256.410004,46.816246

# Question 0:

- From the data that we used for the previous assignment, select the following 10 companies (these are the first 10 companies with no missing data): ”MMM”,”AOS”,”ABT”,”ADM”,”ADBE”,”ADP”,”AES”,”AFL”,”A”,”AKAM”
- So, our “new” dataset for this assignment will consist of monthly returns you had computed in the last assignment, but just for these 10 companies.
- To reduce the work required for this assignment, please assume that the risk-free rate of return is zero.

In [43]:
L_stock=['MMM','AOS','ABT','ADM','ADBE','ADP','AES','AFL','A','AKAM']
for stock in stocks_prices.columns:
    if stock not in L_stock:
        stocks_prices= stocks_prices.drop(stock, axis=1)

stocks_prices

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM
Date,,,,,,,,,,
2000-01-03,43.757748,9.081109,16.274670,6.514029,25.075766,25.869465,6.998003,321.250000,2.349172,24.772840
2000-01-04,40.415142,8.821651,14.909399,6.446171,25.075766,24.843609,6.812301,300.000000,2.315323,23.788494
2000-01-05,37.908192,8.805430,15.204174,6.344390,24.834658,25.111225,6.773207,283.500000,2.308553,24.477549
2000-01-06,36.464783,9.113540,15.328290,6.378316,25.166176,25.311934,6.910039,236.125000,2.274703,26.446239
2000-01-07,39.503517,9.210842,16.072987,6.480100,25.738829,25.802563,7.046872,248.375000,2.369483,26.971231
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.183105,106.058319,338.450012,93.052528,237.013672,27.770977,70.472534,83.160004,55.871155,115.073784
2022-12-27,148.500870,106.440659,335.089996,94.321167,237.102203,27.906540,70.953804,83.500000,56.627228,115.150421
2022-12-28,147.051102,105.715172,328.329987,92.069099,233.974045,27.422388,70.197517,83.500000,55.743507,113.301804
2022-12-29,150.030075,108.146538,337.579987,91.577377,236.698898,27.896854,70.796654,84.699997,56.617413,115.485657
2022-12-30,148.821777,107.636734,336.529999,91.311844,234.967575,27.848444,70.659149,84.300003,56.205006,114.863060

- We compute the daily log return

In [44]:
log_return_df=np.log(stocks_prices / stocks_prices.shift())
log_return_df

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM
Date,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.079464,-0.028987,-0.087618,-0.010472,0.000000,-0.040463,-0.026895,-0.068437,-0.014514,-0.040546
2000-01-05,-0.064037,-0.001840,0.019578,-0.015915,-0.009662,0.010714,-0.005755,-0.056570,-0.002928,0.028554
2000-01-06,-0.038820,0.034393,0.008130,0.005333,0.013261,0.007961,0.020001,-0.182851,-0.014772,0.077358
2000-01-07,0.080043,0.010620,0.047440,0.015832,0.022500,0.019198,0.019609,0.050578,0.040822,0.019657
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,0.001475,0.001388,0.005719,0.012014,0.007415,0.012985,0.011776,0.005305,0.011845,-0.011997
2022-12-27,0.002142,0.003599,-0.009977,0.013541,0.000373,0.004870,0.006806,0.004080,0.013442,0.000666
2022-12-28,-0.009811,-0.006839,-0.020380,-0.024166,-0.013281,-0.017501,-0.010716,0.000000,-0.015729,-0.016184
2022-12-29,0.020056,0.022739,0.027783,-0.005355,0.011579,0.017154,0.008499,0.014269,0.015556,0.019091
2022-12-30,-0.008086,-0.004725,-0.003115,-0.002904,-0.007341,-0.001737,-0.001944,-0.004734,-0.007311,-0.005406

In [45]:
L_year =[]
L_month=[]
for date in log_return_df.index:
    L_year.append(date.year)
    L_month.append(date.month)
log_return_df['Year']=L_year
log_return_df['Month']=L_month
log_return_df

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM,Year,Month
Date,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,1
2000-01-04,-0.079464,-0.028987,-0.087618,-0.010472,0.000000,-0.040463,-0.026895,-0.068437,-0.014514,-0.040546,2000,1
2000-01-05,-0.064037,-0.001840,0.019578,-0.015915,-0.009662,0.010714,-0.005755,-0.056570,-0.002928,0.028554,2000,1
2000-01-06,-0.038820,0.034393,0.008130,0.005333,0.013261,0.007961,0.020001,-0.182851,-0.014772,0.077358,2000,1
2000-01-07,0.080043,0.010620,0.047440,0.015832,0.022500,0.019198,0.019609,0.050578,0.040822,0.019657,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,0.001475,0.001388,0.005719,0.012014,0.007415,0.012985,0.011776,0.005305,0.011845,-0.011997,2022,12
2022-12-27,0.002142,0.003599,-0.009977,0.013541,0.000373,0.004870,0.006806,0.004080,0.013442,0.000666,2022,12
2022-12-28,-0.009811,-0.006839,-0.020380,-0.024166,-0.013281,-0.017501,-0.010716,0.000000,-0.015729,-0.016184,2022,12
2022-12-29,0.020056,0.022739,0.027783,-0.005355,0.011579,0.017154,0.008499,0.014269,0.015556,0.019091,2022,12
2022-12-30,-0.008086,-0.004725,-0.003115,-0.002904,-0.007341,-0.001737,-0.001944,-0.004734,-0.007311,-0.005406,2022,12

- Calculation of monthly returns

In [46]:
L_year_unique=list(np.unique(L_year))
L_month_unique=list(np.unique(L_month))
L_index=[]

for year in L_year_unique:
    for month in L_month_unique:
        L_index.append(str(month) + "/" + str(year))
        
df_monthly_return=pd.DataFrame(index=L_index, columns=log_return_df.columns[:10])
for stock in log_return_df.columns[:10]:
    L_monthly=[]
    for year in L_year_unique:
        for month in L_month_unique:
            data=log_return_df[(log_return_df['Year']== year) & (log_return_df['Month']== month)][stock]
            m=data.mean()*21 # 21 trading days per month
            L_monthly.append(m)
    df_monthly_return[stock]=L_monthly

In [67]:
df_monthly_return.index.name='Date'
df_monthly_return

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM
Date,,,,,,,,,,
1/2000,-0.093035,-0.074365,-0.192907,-0.023270,-0.101497,0.110528,-0.032902,-0.281030,-0.097080,-0.008818
2/2000,0.473232,0.014013,0.647329,-0.158405,-0.089477,0.047244,-0.178897,0.049899,-0.142108,-0.056044
3/2000,0.001099,0.058602,0.079995,0.022407,0.095161,-0.056886,0.200926,-0.443044,0.038858,0.003874
4/2000,-0.176817,0.103173,0.091662,-0.040940,0.120596,0.146820,0.076154,-0.537581,0.154064,-0.024449
5/2000,-0.177001,0.054301,-0.068503,0.179674,0.020835,-0.028959,0.056292,-0.375043,0.020096,-0.003524
...,...,...,...,...,...,...,...,...,...,...
8/2022,-0.040726,-0.053462,-0.085545,0.059051,0.012374,0.123921,0.039061,-0.058180,-0.104138,-0.119802
9/2022,-0.053656,-0.059091,-0.305259,-0.088450,-0.073160,-0.118766,-0.055714,-0.116897,-0.150143,-0.118085
10/2022,0.131190,0.026987,0.146124,0.186869,0.066322,0.152271,0.147161,0.095061,0.125910,0.129598
11/2022,0.113509,0.083721,0.079719,0.009599,0.088782,0.100302,0.105454,0.071322,0.103277,0.013071
12/2022,-0.033507,0.020335,-0.024654,-0.048867,-0.095768,-0.005548,0.000139,-0.118020,-0.059350,-0.049219

In [68]:
df_monthly_return.to_csv('monthly_returns_stocks10.csv',index=True) # save the data for other assignments

# Question 1:

- Choose the estimation window to be T est = 60 months of monthly returns. Call this the estimation sample. Use the estimation sample to compute the following two portfolio strategies:
     - a. mean-variance portfolio (MVP) without constraints on the size of the weight (assume that a risk-free rate is available, with the risk-free rate equal to zero);
    - b. global minimum variance (GMV) portfolio without constraints on the size of the weight.

In [50]:
import numpy as np
from scipy.optimize import minimize

def objective_function(weights, returns):
    # Calculate mean and standard deviation of portfolio returns
    portfolio_return = np.dot(returns.mean(axis=0), weights)
    portfolio_volatility = np.sqrt(np.dot(weights.T, np.dot(returns.cov(), weights)))

    # Calculate the negative Sharpe ratio (since we want to maximize it)
    sharpe_ratio = -portfolio_return / portfolio_volatility # as rf=0

    return sharpe_ratio

def maximize_sharpe_ratio(returns):
    num_assets = returns.shape[1]

    # Set initial weights (equally weighted)
    initial_weights = np.ones(num_assets) / num_assets

    # Set optimization constraint (sum of weights equals 1)
    constraints = ({'type': 'eq', 'fun': lambda weights: np.sum(weights) - 1})

    # Minimize the negative Sharpe ratio to maximize the Sharpe ratio
    result = minimize(objective_function, initial_weights, args=(returns,), method='SLSQP')

    return result.x

T_est=60
estimation_sample=df_monthly_return[:T_est]
sharpe_max_weights = maximize_sharpe_ratio(estimation_sample)

print("MVP Portfolio weights:")
print(sharpe_max_weights)

MVP Portfolio weights:
[-0.36029845  0.34735263  0.53529289  0.77614293 -0.5570739  -0.04742348
 -0.03571443 -0.13156603  0.32673502  0.61174253]

In [51]:
def gmv(sigma):
    n=len(sigma)
    sigma_inverse=np.linalg.inv(sigma) #calculate a matrix inverse
    one_vector=np.ones(n)
    numerator=np.dot(sigma_inverse, one_vector)
    weights = numerator / np.sum(numerator)
    return weights

In [52]:
T_est=60
estimation_sample=df_monthly_return[:T_est]
cov_matrix=estimation_sample.cov()
gmv_weights=gmv(cov_matrix)

In [53]:
print("GMV Portfolio Weights:")
print(pd.Series(gmv_weights, index=cov_matrix.index))

GMV Portfolio Weights:
A       0.016557
ABT     0.291650
ADBE    0.009365
ADM     0.043107
ADP     0.082075
AES     0.006574
AFL     0.112146
AKAM   -0.014881
AOS     0.095511
MMM     0.357896
dtype: float64

# Question 2:

- Now use a rolling window of T est = 60 months to estimate the portfolio weights for the two strategies listed above for each of the T − T est months. That is, repeat the calculations of the previous question for all the dates after the first 60 months.

In [54]:
gmv_weights_list = []
T_est=60

for i in range(T_est, len(df_monthly_return)):
    returns_window = df_monthly_return.iloc[i - T_est:i]
    covariance_matrix = returns_window.cov()
    gmv_weights = gmv(covariance_matrix.values)
    gmv_weights_list.append(gmv_weights)

gmv_weights_df = pd.DataFrame(gmv_weights_list, columns=df_monthly_return.columns)

print("GMV Portfolio Weights:")
gmv_weights_df

GMV Portfolio Weights:

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM
0,0.016557,0.291650,0.009365,0.043107,0.082075,0.006574,0.112146,-0.014881,0.095511,0.357896
1,0.005283,0.283275,0.021427,0.051869,0.093979,0.001268,0.106667,-0.010707,0.102732,0.344206
2,-0.010390,0.252933,-0.017124,0.050767,0.132071,-0.000152,0.142341,-0.002378,0.114460,0.337472
3,0.001891,0.252290,-0.024386,0.036260,0.143012,-0.001210,0.182886,-0.008274,0.108583,0.308948
4,-0.004306,0.263374,-0.022726,-0.000652,0.184898,0.001177,0.193390,-0.016354,0.123628,0.277570
...,...,...,...,...,...,...,...,...,...,...
211,0.047343,0.365651,0.051257,0.254089,0.246724,-0.052402,0.067675,0.187157,-0.193289,0.025796
212,0.040556,0.362408,0.043778,0.263836,0.274819,-0.049190,0.064399,0.186862,-0.198311,0.010843
213,0.088651,0.375923,-0.026245,0.249916,0.299755,-0.058009,0.075452,0.197666,-0.212624,0.009515
214,0.089095,0.416824,-0.023077,0.227879,0.330928,-0.074022,0.071006,0.192920,-0.226557,-0.004994
215,0.074351,0.415614,-0.018657,0.255766,0.333815,-0.082024,0.053022,0.187910,-0.245876,0.026080

In [55]:
T_est = 60
num_months = len(df_monthly_return)
columns = df_monthly_return.columns

# Create an empty DataFrame to store the results
result_df = pd.DataFrame(index=df_monthly_return.index[T_est:], columns=columns)

# Iterate through each date after the first 60 months
for i in range(T_est, num_months):
    estimation_sample = df_monthly_return[i - T_est:i]
    sharpe_max_weights = maximize_sharpe_ratio(estimation_sample)

    # Store the results in the DataFrame
    result_df.loc[df_monthly_return.index[i]] = sharpe_max_weights

# Display the resulting DataFrame
print("MVP Portfolio Weights:")
result_df

MVP Portfolio Weights:

,A,ABT,ADBE,ADM,ADP,AES,AFL,AKAM,AOS,MMM
1/2005,-0.360298,0.347353,0.535293,0.776143,-0.557074,-0.047423,-0.035714,-0.131566,0.326735,0.611743
2/2005,-0.420349,0.301416,0.583928,0.839162,-0.436276,-0.078348,-0.066335,-0.091478,0.349554,0.558087
3/2005,-0.433578,0.264794,0.350778,0.791865,-0.232499,-0.058104,0.120052,-0.069771,0.386919,0.607492
4/2005,-0.466157,0.184691,0.368394,0.761622,-0.226023,-0.054416,-0.101588,-0.030206,0.382128,0.602694
5/2005,-0.326371,0.314491,0.174212,0.345965,-0.218919,-0.043555,0.219953,-0.026237,0.308469,0.506427
...,...,...,...,...,...,...,...,...,...,...
8/2022,0.575735,0.727206,0.3122,0.485053,0.429353,-0.218718,-0.036932,-0.025931,-0.275872,-1.185953
9/2022,0.517316,0.70166,0.276377,0.510851,0.541382,-0.213011,-0.058921,-0.017781,-0.291074,-1.176892
10/2022,0.8453,0.831525,0.251044,0.575761,0.690264,-0.291948,-0.018124,-0.041205,-0.444326,-1.539173
11/2022,0.880815,0.856652,0.203745,0.722848,0.646272,-0.232676,-0.016406,-0.037941,-0.359749,-1.715742
12/2022,0.952905,0.849387,0.224307,0.807156,0.733492,-0.259497,-0.085376,-0.105251,-0.414755,-1.795833

# Question 3

- Use the time-series of portfolios weights for each of the two portfolio strategies, to compute the out-of-sample portfolio returns. That is, for each of the two portfolio strategies that you estimate at each date t, compute its out-of-sample return in month t + 1.

In [56]:
T_est = 60
num_months = len(df_monthly_return)
columns = df_monthly_return.columns

result_df = pd.DataFrame(index=df_monthly_return.index[T_est:], columns=columns)

for i in range(T_est, num_months):
    estimation_sample = df_monthly_return[i - T_est:i]
    sharpe_max_weights = maximize_sharpe_ratio(estimation_sample)
    result_df.loc[df_monthly_return.index[i]] = sharpe_max_weights

# Compute out-of-sample portfolio returns
out_of_sample_returns = (df_monthly_return.shift(-1).loc[result_df.index] * result_df).sum(axis=1)

# Create a DataFrame for out-of-sample returns
out_of_sample_returns_mvp = pd.DataFrame(out_of_sample_returns, columns=['Out_of_Sample_Return'])

out_of_sample_returns_mvp[:215]

        Out_of_Sample_Return
1/2005              0.036703
2/2005              0.110743
3/2005              -0.29226
4/2005               0.08231
5/2005             -0.042996
...                      ...
7/2022              0.100536
8/2022             -0.030951
9/2022              0.026587
10/2022             0.152248
11/2022            -0.002768

[215 rows x 1 columns]

In [57]:
T_est = 60
gmv_weights_list = []
out_of_sample_returns_list = []
for i in range(T_est, len(df_monthly_return)-1):
    returns_window = df_monthly_return.iloc[i - T_est:i]
    covariance_matrix = returns_window.cov()
    gmv_weights = gmv(covariance_matrix.values)
    gmv_weights_list.append(gmv_weights)
    returns_next_month = df_monthly_return.iloc[i + 1]
    out_of_sample_return = np.dot(gmv_weights, returns_next_month)
    out_of_sample_returns_list.append(out_of_sample_return)

out_of_sample_returns_gmv = pd.DataFrame(out_of_sample_returns_list, columns=['Out_of_Sample_Return'])
print("\nOut-of-Sample Portfolio Returns:")
out_of_sample_returns_gmv

Out-of-Sample Portfolio Returns:

     Out_of_Sample_Return
0                0.005537
1                0.021976
2               -0.029368
3                0.013751
4               -0.025358
..                    ...
210             -0.009433
211             -0.073768
212              0.085213
213              0.062856
214             -0.045424

[215 rows x 1 columns]

# Question 4

- Now, compute the Sharpe ratio of the out-of-sample returns for the two portfolio strategies. Which strategy has the higher Sharpe ratio?

In [59]:
sharpe_ratio_mvp = out_of_sample_returns_mvp.mean() / out_of_sample_returns_mvp.std() # assuming rf=0
sharpe_ratio_gmv = out_of_sample_returns_gmv.mean() / out_of_sample_returns_gmv.std()
print("\nSharpe Ratio MVP:")
print(sharpe_ratio_mvp)

print("\nSharpe Ratio GMV:")
print(sharpe_ratio_gmv)

Sharpe Ratio MVP:
Out_of_Sample_Return    0.054274
dtype: object

Sharpe Ratio GMV:
Out_of_Sample_Return    0.187937
dtype: float64

We observe that the GMV portfolio has a higher Sharpe Ratio which is strange because the MVP portfolio should have the higher sharpe ratio.